<div class="ui breadcrumb">
  <a href='/' class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <p class="section">Contact</a>
</div>

<h1>Contact</h1>

<br><br>

<div class="ui two column grid">

  <div class="column">
    <h3>Online Boutique</h3>

    <div class="ui large list">
      <div class="item">
        <i class="marker icon"></i>
        <div class="content">
          <p>Seattle, WA</p>
        </div>
      </div>
      <div class="item">
        <i class="phone icon"></i>
        <div class="content">
          <p>800-123-4567</p>
        </div>
      </div>
      <div class="item">
        <i class="mail icon"></i>
        <div class="content">
          <p>help@onlineboutique.com</p>
        </div>
      </div>
    </div>

    <br>

    <h3>Connect With Us</h3>
    <div class="ui horizontal list">
      <div class="item">
        <button class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </button>
      </div>
      <div class="item">
        <button class="ui circular brown icon button">
          <i class="instagram icon"></i>
        </button>
      </div>
      <div class="item">
        <button class="ui circular twitter icon button">
          <i class="twitter icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="column">
    <h3>Send a Message</h3>
    <div class="ui segment">
      <div class="ui form">
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input class="contact-form-input" type="text" name="first-name" placeholder="First Name">
            </div>
            <div class="field">
              <input class="contact-form-input" type="text" name="last-name" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <input class="contact-form-input" type="text" name="email" placeholder="@email.com">
        </div>
        <div class="field">
          <label>Email</label>
          <textarea class="contact-form-input" type="text" name="content"></textarea>
        </div>
        <button id="submit-contact" class="ui fluid green button">Submit</button>
      </div>
    </div>
  </div>

</div>

<div class="ui center aligned basic modal">
  <div class="ui icon header">
    <i class="open envelope outline icon"></i>
    Message Delivered
  </div>
  <div class="content">
    <p class="ui center aligned inverted header">Thank you for reaching out! We will respond as soon as possible to the email you provided.</p>
  </div>
</div>
