<div class="ui breadcrumb">
  <a href='/' class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <p class="section">Profile</a>
</div>

<h1>Hello, <%= @user.username %>!</h1>
<h5>Email: <%= @user.email %></h5>

<div class="ui divider"></div>

<div class='ui grid'>

  <div class='eight wide column'>
    <h2>Order History</h2>
    <%= render 'order_history' %>
  </div>

  <div class='two wide column'>
  </div>

  <div class='six wide column'>
    <h2>Product Reviews</h2>
    <%= render 'reviews' %>
  </div>

</div>
