<h1>All Products</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <%= link_to product.name, product_path(product) %>
  <% end %>
<% else %>
  <h3>No products at this time.</h3>
<% end %>

<% if current_user && current_user.admin %>
  <div class="ui horizontal divider">
    ADMIN
  </div>
  <%= link_to "Add a New Product", new_product_path %>
<% end %>
