<h1><%= @product.name %></h1>

<h3>Price: $<%= @product.price %></h3>

<h4 class='ui horizontal divider header'>Description</h4>

<h5><%= @product.description %></h5>

<%= image_tag @product.image %>

<h4 class='ui horizontal divider header'>Reviews</h4>
