<% if object.errors.any? %>
  <div class='ui container'>
    <div class='ui negative message'>
      <i class='close icon'></i>
      <h3 class='ui header'>Please fix these errors:</h3>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
